html{
    background-color: rgb(255, 255, 255);
}

*{
    margin: auto;
    
}

img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5%;
    top: 3%;
    border: 1px dashed black;
    border-radius: 20px;
    cursor: pointer;
}

img:hover{
    transform: translate(-2px, 0px);
}


table{
    padding: 0 0 0 3px; 
    border-spacing: 2px;
    table-layout: fixed;
    margin-top: 30px;
}

p{
    display: inline-block;
    
}


td{
    background-color: darkgray;
    width: 73px;
    height: 73px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 7px;
    cursor: pointer;
}

.emptycell{
    background-color: white;
}

td:hover{
    background: rgb(88, 124, 224);
    transform: translate(0, -4px);
    animation-name: hover-effect;
    animation-duration: .5s;
}

@keyframes hover-effect{
    from {background-color: darkgray;}
    to {background-color: rgb(88, 124, 224);}
}

.blackDisk{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: black;
    border: 1px solid white;
}

.whiteDisk{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgb(0, 0, 0);
}

.king.blackDisk{
    background-color: black;
}

.king.whiteDisk{
    background-color: white;
}

.white_Turn_Sign {
    font-family: 'VT323', monospace;
    position: absolute;
    top: 33%;
    right: 7%;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 500;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 6px;
    background-color: rgb(255, 255, 255);
}

.black_Turn_Sign {
    font-family: 'VT323', monospace;
    position: absolute;
    top: 45%;
    right: 7%;
    color: lightgray;
    font-size: 30px;
    font-weight: 500;
    border: 3px solid darkgray;
    border-radius: 30px;
    padding: 6px;
}

.seperator{
    position: absolute;
    top: 34%;
    right: 10%;
    font-size: 90px; 
}

